name: test
on: workflow_dispatch
jobs:
  test:
    name: Add issue test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - uses: actions/cache@v2
        id: cache_node_modules
        with:
          path: "**/node_modules"
          key: node_modules-${{ hashFiles('**/package.json', 'yarn.lock') }}
      - run: yarn install
        if: steps.cache_node_modules.outputs.cache-hit != 'true'
      - name: Add issue to project
        id: add-issue-to-projects-beta
        uses: ./
        with:
          github-token: "${{ secrets.SYNC_PROJECTS_BETA }}"
          project-owner: "sunadoi"
          project-number: 1
          content-id: "I_kwDOG4a9ps5ESnuj"
      - name: output
        run: echo ${{ steps.add-issue-to-projects-beta.outputs }}
